p{
	background-color: grey;
	display: inline-block;
}
a{
	background-color: yellow;
	display: inline-block;
}
ul{
	background-color: blue;
	display: inline-block;
}
ul li{
	background-color: green;
	display: inline-block;
}
