/* Condensed Universal CSS Reset */

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

#wrapper{
  max-width: 970px;
  height: 700px;
  padding: 20px;
  border: 1px dotted black;
}

#header{
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
  background-color: green;
}

/* #main{
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  width: 710px;
  height: 500px;
  background-color: red;
}
#top{
  display: inline-block;
  text-align: center;
  width: 710px;
  height: 250px;
}

.box{
  display: inline-block;
  margin-right: 7px;
  width: 225px;
  height: 225px;
  background-color: yellow;
}

#bottom{
  display: inline-block;
  margin-left: 5px;
  width: 695px;
  height: 225px;
  background-color: purple;
} */

/* Responsive CSS for Phone */
@media only screen and (max-width: 480px){
  #sidebar{
    display: none;
  }
}

/* Responsive CSS for Tablet */
@media only screen and (min-width: 481px){
  #sidebar{
    display: none;
  }
}

/* Responsive CSS for Desktop */
@media only screen and (min-width: 1024px){
  #sidebar{
    display: inline-block;
    margin-right: 15px;
    width: 20%;
    height: 60%;
    background-color: blue;
  }
}
