/* Condensed Universal CSS Reset */

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: arial;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 970px;
  height: 775px;
  padding: 10px 0;
  background-color: rgb(36, 80, 118);
}

#header {
  width: 100%;
}

img {
  width: 325px;
  margin-left: 20px;
}

#header_right {
  display: inline-block;
  vertical-align: top;
  width: 325px;
  height: 90px;
  margin-left: 280px;
}

#text_size {
  text-align: right;
  padding-right: 30px;
}

#text_size p {
  display: inline-block;
  font-size: .75em;
  color: white;
}

#text_size a {
  font-size: .75em;
  color: rgb(211, 178, 1);
}

#text_size p:nth-of-type(2) {
  color: black;
}

#search_box {
  text-align: center;
  width: 260px;
  margin: 5px 0 0 30px;
  padding: 20px;
  background-color: rgb(68, 68, 68);
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

form {
  display: inline;
  width: 200px;
  text-align: center;
}

#search_box input {
  color: lightgrey;
  font-size: .75em;
  padding: 10px;
  border: 2px inset grey;
  text-align: center;
}

#search_box button {
  color: white;
  font-size: .75em;
  padding: 5px;
  background-color: rgb(36, 80, 118);
  border: 2px outset lightgrey;
  border-radius: 5px;
  box-shadow: 1px 1px black;
}

#nav1 {
  width: 850px;
  height: 50px;
  line-height: 50px;
  margin: 40px auto 0 auto;
  background-color: rgb(67, 125, 173);
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

#list1 {
  list-style-type: none;
  padding-left: 20px;
  text-align: center;
}

#list1 li {
  display: inline-block;
  padding: 0 20px;
}

#list1 a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

#nav2 {
  display: inline-block;
  width: 200px;
  padding: 30px 0 0 40px;
}

#list2 {
  list-style-type: none;
  text-align: center;
}

#list2 li:before {
  content: ">>";
  padding-right: 5px;
  color: yellow;
  font-size: .8em;
}

#list2 a {
  color: white;
  font-size: .8em;
}

#main {
  display: inline-block;
  width: 500px;
  padding: 20px 0 0 120px;
  vertical-align: top;
  text-align: center;
}

#main p {
  color: white;
  font-size: .75em;
}

#main p:not(:first-child) {
  padding: 10px;
  color: yellow;
  font-style: italic;
  font-size: .9em;
}

#main p:last-child {
  color: white;
  font-size: .8em;
  font-style: normal;
}

#content {
  width: 970px;
  background-color: white;
  border-top: 2px solid black;
}

#start {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin: 10px 10px 0 80px;
  text-align: center;
  border-top: 3px solid rgb(115, 167, 213);
}

#applications {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin: 10px 0 0 10px;
  text-align: center;
  border-top: 3px solid rgb(115, 167, 213);
}

h3 {
  padding: 10px 40px 0 40px;
}

#content p {
  display: inline-block;
  padding: 10px 80px;
  font-size: .72em;
}

span {
  font-size: .75em;
  color: rgb(132, 178, 218);
}

#content ul {
  width: 210px;
  margin: 0 auto 10px auto;
  list-style: none;
  color: rgb(132, 178, 218);
  font-size: .72em;
}

#content a {
  color: rgb(132, 178, 218);
  text-decoration: none;
}

#content li:before {
  display: absolute content: "■";
  font-size: .72em;
  vertical-align: middle;
  color: black;
  padding: 0 5px 5px 0;
}

#footer {
  text-align: center;
  padding: 50px;
}

#footer a {
  font-size: .8em;
  text-decoration: none;
  color: rgb(132, 178, 218);
  padding: 20px;
}

#footer p {
  font-size: .65em;
  padding-top: 20px;
  color: rgb(132, 178, 218);
}
